<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>



    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>


    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">






   var ExternalURL = "www.inshorts.com/en/read"; // This address must not contain any leading “http://”
   var ContentLocationInDOM = "#someNode > .childNode"; // If you’re trying to get sub-content from the page, specify the “CSS style” jQuery syntax here, otherwise set this to “null”

   $(document).ready(loadContent);
   function loadContent()
   {
      var QueryURL = "http://anyorigin.com/get?url=" + ExternalURL + "&callback=?";
      $.getJSON(QueryURL, function(data){
         if (data && data != null && typeof data == "object" && data.contents && data.contents != null && typeof data.contents == "string")
         {
            console.log(data);
            if (data.length > 0)
            {
               if (ContentLocationInDOM && ContentLocationInDOM != null && ContentLocationInDOM != "null")
               {
                  $('#queryResultContainer').html($(ContentLocationInDOM, data));
               }
               else
               {
                  $('#queryResultContainer').html(data);
               }
            }
         }
      });
   }
</script>
  </head>
  <body ng-app="newsApp" ng-controller="newsController">

    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title">News Reader</h1>

      </ion-header-bar>

   <div class="tabs-striped tabs-color-assertive">
     <div class="tabs tabs-icon-top">
       <a class="tab-item active" href="#">
         <i class="icon ion-home"></i>
         News Here
       </a>
       <a class="tab-item" href="#">
         <i class="icon ion-star"></i>
         Favorites
       </a>
       <a class="tab-item" href="#">
         <i class="icon ion-gear-a"></i>
         Settings
       </a>
     </div>
   </div>



      <div id="output">
      </div>

      <ion-content>
        <ion-refresher
    pulling-text="Pull To Refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
        <section class="list">

            <article ng-click='lookUp($event,newsArticle)' class="item noWhiteSpace" ng-repeat="newsArticle in news track by $index" ng-bind-html="newsArticle">

              {{newsArticle}}

            </article>


        </section>
        <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>
      </ion-content>
    </ion-pane>
  </body>
</html>
